PORT=3000

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=14505

# E-mail para newsletter
# Opcao 1: Gmail
MAIL_USER=seuemail@gmail.com
MAIL_PASS=sua_senha_de_app_gmail

# Opcao 2: SMTP corporativo (dominio proprio)
# MAIL_HOST=smtp.seudominio.com
# MAIL_PORT=587
# MAIL_SECURE=false
# MAIL_USER=contato@seudominio.com
# MAIL_PASS=sua_senha_smtp

# Remetente exibido ao destinatario
MAIL_FROM="SustentaTech <contato@seudominio.com>"
